/* DEAFULT STYLES */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* MY App.css STYLES */

.main {
  display: flex;
  width: 100%;
}

.content {
  background-color: #f5f8fa;
  width: 100%;
  height: 100vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 30px !important;
  padding-right: 130px !important;
}

.completeCalls {
  height: 145px !important;
}

.cola {
  border-radius: 15px;
  background-color: #fff;
  padding: 15px !important;
  width: 100%;
  height: 100%;
}

.meta {
  border-radius: 15px;
  background-color: #fff;
  padding: 15px !important;
  width: 100%;
  height: 100%;
}
 
.planHoy {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
}

.barraLateral {
  width: 100px;
  height: 100vh;
  background-color: #2b2e43;
  position: absolute;
  right: 0;
  top: 0%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}